@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins;
}

.sidebar_link:hover .sidebar_icon {
  color: black;
}

.left {
  width: calc(66% - -2.3rem);
}

.right {
  width: 33%;
}
